name: Check Dollar Price

on:
  schedule:
    - cron: '*/10 * * * *' # اجرا هر ۱۰ دقیقه
  workflow_dispatch: # امکان اجرای دستی

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env: 
          # این بخش بسیار مهم است. رمزها را از تنظیمات می‌خواند و به پایتون می‌دهد
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
